<!-- <form class="contact-form">
    <p> 
        <md-input-container>
            <input mdInput placeholder="Email" value="" required>
        </md-input-container>
    </p>
    <p>
        <md-input-container>
            <input mdInput placeholder="Name" value="">
        </md-input-container>
    </p>
    <p>
        <md-input-container>
            <input mdInput placeholder="Subject" value="" required>
        </md-input-container>
    </p>
    <p>
        <md-input-container class="contact-full-width">
            <textarea mdInput placeholder="Message" value="" resizeToFitContent required></textarea>
        </md-input-container>
    </p>
    <p> 
       <button md-raised-button (click)="onClickMe()">Send</button>
       {{ clickMessage }}
    </p>
</form> -->

<!-- temporary solution -->
<p>You can contact me via email</p>
<p> <a href="mailto:contact@sbonchev.eu"> contact@sbonchev.eu </a> </p>

<div class="row">
    <div class="col-xs-12">
        <img [src]="imagePath" height="250">
    </div>
</div>